USE [master]
GO
/****** Object:  Database [samvad]    Script Date: 21-07-2025 14:21:05 ******/
CREATE DATABASE [samvad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'samvad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\samvad.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'samvad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\samvad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [samvad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [samvad]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[AdminId] [varchar](50) NOT NULL,
	[AdminName] [varchar](100) NULL,
	[Password] [varchar](256) NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankMaster]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankMaster](
	[Sno] [varchar](5) NULL,
	[BANKNM] [nvarchar](250) NULL,
	[IFSCCODE] [nvarchar](50) NULL,
	[MICRCODE] [nvarchar](50) NULL,
	[BRANCHNM] [nvarchar](300) NULL,
	[BRANCHADDRESS] [nvarchar](800) NULL,
	[CONTACTDETAILS] [nvarchar](350) NULL,
	[CENTRE] [nvarchar](200) NULL,
	[DISTRICT] [nvarchar](200) NULL,
	[STATE] [nvarchar](200) NULL,
	[status] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[entry_by_user_id] [varchar](10) NULL,
	[entry_by_user_name] [nvarchar](100) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
	[modify_by_user_id] [varchar](10) NULL,
	[modify_by_user_name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Base_Department]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base_Department](
	[dept_id] [nvarchar](4) NOT NULL,
	[dept_name] [nvarchar](75) NULL,
	[Commision_Percentage] [float] NULL,
	[discount_percent] [float] NULL,
	[flag] [int] NULL,
	[DisplayOrder] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
	[Remark] [nvarchar](50) NULL,
 CONSTRAINT [PK_Base_Department] PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeptUser_Login]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeptUser_Login](
	[user_id] [nvarchar](50) NOT NULL,
	[username] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[mobile] [nvarchar](15) NULL,
	[dob] [date] NULL,
	[pwd] [nvarchar](255) NOT NULL,
	[user_type_code] [nvarchar](50) NULL,
	[first_login] [bit] NULL,
	[section_cd] [nvarchar](50) NULL,
	[login_date] [date] NULL,
	[logout_date] [date] NULL,
	[login_flag] [bit] NULL,
	[pwd_changed_date] [datetime] NULL,
	[creation_date] [datetime] NULL,
	[user_status] [nvarchar](50) NULL,
	[who_created] [nvarchar](50) NULL,
	[modify_date] [date] NULL,
	[modify_time] [time](7) NULL,
	[modify_ip_address] [nvarchar](50) NULL,
	[login_time] [time](7) NULL,
	[login_ip_address] [nvarchar](50) NULL,
	[logout_flag] [bit] NULL,
	[logout_time] [time](7) NULL,
	[logout_ip_address] [nvarchar](50) NULL,
	[entry_date] [date] NULL,
	[entry_time] [time](7) NULL,
	[ip_address] [nvarchar](50) NULL,
	[modify_by_user_name] [nvarchar](50) NULL,
	[password_reset_date] [date] NULL,
	[password_reset_time] [time](7) NULL,
	[password_reset_ip_address] [nvarchar](50) NULL,
	[password_reset_by_user_id] [nvarchar](50) NULL,
	[password_reset_by_user_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[designation_cd] [varchar](3) NOT NULL,
	[designation_level_id] [nvarchar](2) NULL,
	[status] [int] NOT NULL,
	[order_no] [int] NOT NULL,
	[designation_name_E] [nvarchar](100) NULL,
	[designation_name_H] [nvarchar](200) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[designation_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts_new]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts_new](
	[ST_CODE] [varchar](3) NULL,
	[District_ID] [varchar](2) NOT NULL,
	[District_Name] [nvarchar](255) NULL,
	[District_Name_En] [nvarchar](255) NULL,
	[Division_id] [int] NULL,
	[Division_name_Hindi] [nvarchar](50) NULL,
	[Division_name_English] [varchar](50) NULL,
	[CountryCode] [varchar](3) NULL,
	[StateCode] [varchar](3) NULL,
	[flag] [int] NULL,
	[DisplayOrder] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_Districts_new] PRIMARY KEY CLUSTERED 
(
	[District_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[Division_id] [int] NULL,
	[Division_name_Hindi] [nvarchar](50) NULL,
	[Division_name_English] [varchar](50) NULL,
	[flag] [int] NULL,
	[Display_order] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_JobType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_JobType](
	[job_type_id] [varchar](2) NOT NULL,
	[job_type_text] [nvarchar](100) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_JobType] PRIMARY KEY CLUSTERED 
(
	[job_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_JobUnit]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_JobUnit](
	[unit_id] [varchar](2) NOT NULL,
	[unit_text] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_JobUnit] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Map_JobType_ProductionType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Map_JobType_ProductionType](
	[job_type_id] [varchar](2) NULL,
	[job_type] [nvarchar](100) NULL,
	[production_type_id] [varchar](2) NOT NULL,
	[production_type] [nvarchar](100) NULL,
	[status] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Map_Vendor_Category]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Map_Vendor_Category](
	[media_type_id] [varchar](2) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[vendor_id] [varchar](6) NOT NULL,
	[vendor_name] [nvarchar](200) NULL,
	[cate_id] [varchar](2) NOT NULL,
	[cate_text] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_Vendor_Category] PRIMARY KEY CLUSTERED 
(
	[media_type_id] ASC,
	[vendor_id] ASC,
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Map_Vendor_Group]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Map_Vendor_Group](
	[group_id] [varchar](3) NOT NULL,
	[group_name] [nvarchar](50) NULL,
	[vendor_id] [varchar](6) NOT NULL,
	[vendor_name] [nvarchar](100) NULL,
	[status] [varchar](1) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](20) NULL,
	[entry_by_ip_address] [varchar](20) NULL,
	[entry_by_user_type] [nvarchar](50) NULL,
	[entry_by_user_id] [varchar](10) NULL,
	[entry_by_user_name] [nvarchar](50) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](20) NULL,
	[modify_by_ip_address] [varchar](20) NULL,
	[modify_by_user_type] [nvarchar](50) NULL,
	[modify_by_user_id] [varchar](10) NULL,
	[modify_by_user_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_EM_Master_Map_Vendor_Group] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Map_WorkType_JobType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Map_WorkType_JobType](
	[work_type_id] [varchar](2) NOT NULL,
	[work_type] [nvarchar](100) NULL,
	[media_type_id] [varchar](2) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[job_type_id] [varchar](2) NOT NULL,
	[job_type_text] [nvarchar](100) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_JobType] PRIMARY KEY CLUSTERED 
(
	[work_type_id] ASC,
	[media_type_id] ASC,
	[job_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Map_WorkType_MediaType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Map_WorkType_MediaType](
	[work_type_id] [varchar](2) NOT NULL,
	[work_type] [nvarchar](100) NULL,
	[media_type_id] [varchar](2) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[rate_calculation_on_id] [int] NULL,
	[rate_calculation_on_E] [varchar](15) NULL,
	[rate_calculation_on_H] [nvarchar](20) NULL,
	[calculate_commission] [varchar](1) NULL,
	[ro_amt_convert_in_100_percent] [varchar](1) NULL,
	[display_as] [nvarchar](100) NULL,
	[discount_percent_on_wo_amt] [float] NULL,
	[it_tds_on_wo_amt] [float] NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Map_WorkType_MediaType] PRIMARY KEY CLUSTERED 
(
	[work_type_id] ASC,
	[media_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Media_Work_ItemType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Media_Work_ItemType](
	[item_type_id] [varchar](2) NOT NULL,
	[item_type] [nvarchar](50) NULL,
	[work_type_id] [varchar](2) NOT NULL,
	[media_type_id] [varchar](2) NOT NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Work_ItemType] PRIMARY KEY CLUSTERED 
(
	[item_type_id] ASC,
	[work_type_id] ASC,
	[media_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_MediaType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_MediaType](
	[media_type_id] [varchar](2) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[media_type_H] [nvarchar](100) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_MediaType] PRIMARY KEY CLUSTERED 
(
	[media_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_ProductionType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_ProductionType](
	[production_type_id] [varchar](2) NOT NULL,
	[production_type] [nvarchar](100) NULL,
	[status] [varchar](1) NULL,
	[display_order] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_RateCalculationOn]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_RateCalculationOn](
	[id] [int] NOT NULL,
	[rate_calculation_on_E] [varchar](15) NULL,
	[rate_calculation_on_H] [nvarchar](20) NULL,
	[status] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_RateType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_RateType](
	[rate_type_id] [varchar](2) NOT NULL,
	[rate_type] [nvarchar](100) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_RateTypeMaster] PRIMARY KEY CLUSTERED 
(
	[rate_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_TimeBand]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_TimeBand](
	[media_type_id] [varchar](2) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[time_band_id] [varchar](2) NOT NULL,
	[time_band_from] [nvarchar](10) NULL,
	[time_band_to] [nvarchar](10) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_TimeBand] PRIMARY KEY CLUSTERED 
(
	[media_type_id] ASC,
	[time_band_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Vendor]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Vendor](
	[media_type_id] [varchar](2) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[vendor_id] [varchar](6) NOT NULL,
	[vendor_name] [nvarchar](200) NULL,
	[owner_name] [nvarchar](200) NULL,
	[contact_no] [varchar](10) NULL,
	[email_id] [varchar](50) NULL,
	[status] [int] NULL,
	[is_eligible_for_gst] [varchar](1) NULL,
	[is_gst_verified_by_admin] [varchar](1) NULL,
	[gst_approved] [varchar](1) NULL,
	[gst_rejected] [varchar](1) NULL,
	[gst_reject_remark] [nvarchar](100) NULL,
	[GST_legalName] [nvarchar](100) NULL,
	[GST_Trade_Name] [nvarchar](100) NULL,
	[GST_number] [varchar](15) NULL,
	[GST_StateID] [varchar](10) NULL,
	[GST_StateText] [nvarchar](50) NULL,
	[GST_DateOfRegistration] [date] NULL,
	[GST_DateOfIssue] [date] NULL,
	[GST_TaxpayerType] [nvarchar](20) NULL,
	[State_Code] [varchar](50) NULL,
	[District_Code] [varchar](50) NULL,
	[State_Text] [varchar](50) NULL,
	[District_Text] [varchar](50) NULL,
	[Area_Code] [varchar](4) NULL,
	[Area_Text] [nvarchar](50) NULL,
	[search_cate_id] [int] NULL,
	[search_category] [nvarchar](50) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[entry_by_user_id] [varchar](10) NULL,
	[entry_by_user_name] [nvarchar](100) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
	[modify_by_user_id] [varchar](10) NULL,
	[modify_by_user_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_EM_ChannelMaster] PRIMARY KEY CLUSTERED 
(
	[media_type_id] ASC,
	[vendor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_Vendor_Category]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_Vendor_Category](
	[cate_id] [varchar](2) NOT NULL,
	[cate_text] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_Vendor_Category_1] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_Master_WorkType]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_Master_WorkType](
	[work_type_id] [varchar](2) NOT NULL,
	[work_type] [nvarchar](100) NULL,
	[accronym] [varchar](50) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_Master_WorkType] PRIMARY KEY CLUSTERED 
(
	[work_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_MasterRateTypeFlag]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_MasterRateTypeFlag](
	[rate_type_id] [varchar](2) NOT NULL,
	[flag_id] [int] NOT NULL,
	[flag] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_RateFlag] PRIMARY KEY CLUSTERED 
(
	[rate_type_id] ASC,
	[flag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_MasterVendorGroup]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_MasterVendorGroup](
	[group_id] [varchar](3) NOT NULL,
	[group_name] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](20) NULL,
	[entry_by_ip_address] [varchar](20) NULL,
	[entry_by_user_type] [nvarchar](50) NULL,
	[entry_by_user_id] [varchar](10) NULL,
	[entry_by_user_name] [nvarchar](50) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](20) NULL,
	[modify_by_ip_address] [varchar](20) NULL,
	[modify_by_user_type] [nvarchar](50) NULL,
	[modify_by_user_id] [varchar](10) NULL,
	[modify_by_user_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_EM_MasterVendorGroup] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EM_MasterVendorSearchCategory]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EM_MasterVendorSearchCategory](
	[cate_id] [int] NOT NULL,
	[cate_name] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
 CONSTRAINT [PK_EM_MasterVendorSearchCategory] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_cd] [varchar](5) NOT NULL,
	[name_E] [nvarchar](100) NOT NULL,
	[name_H] [nvarchar](200) NULL,
	[office_address_E] [nvarchar](300) NOT NULL,
	[office_address_H] [nvarchar](500) NULL,
	[emp_address_E] [nvarchar](300) NOT NULL,
	[emp_address_H] [nvarchar](500) NULL,
	[designation_cd] [varchar](3) NOT NULL,
	[rti_desig_cd] [varchar](3) NULL,
	[email_id] [nvarchar](50) NULL,
	[mobile_no] [varchar](10) NULL,
	[landline_no] [nvarchar](10) NULL,
	[fax_no] [nvarchar](12) NULL,
	[std_code] [varchar](6) NULL,
	[display_in_directory] [int] NULL,
	[order_no] [int] NULL,
	[salary_detail] [nvarchar](300) NULL,
	[section_cd] [varchar](3) NOT NULL,
	[flag] [int] NULL,
	[dob] [datetime] NULL,
	[section_wark] [nvarchar](300) NULL,
	[user_active] [char](1) NULL,
	[who_created] [varchar](5) NULL,
	[user_type_code] [varchar](2) NULL,
	[joining_date] [date] NULL,
	[Order_number] [varchar](10) NULL,
	[Retirement_date] [date] NULL,
	[OpeningLeave_id] [varchar](10) NULL,
	[OpeningEarned_Leave] [int] NULL,
	[OpeningCommuted_Leave] [int] NULL,
	[OpeningEmergency_Leave] [int] NULL,
	[OpeningOptional_Leave] [int] NULL,
	[ForAttendence] [int] NULL,
	[jobtype] [varchar](20) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[entry_by_user_id] [varchar](10) NULL,
	[entry_by_user_name] [nvarchar](100) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
	[modify_by_user_id] [varchar](10) NULL,
	[modify_by_user_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[employee_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialYear]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialYear](
	[Sno] [varchar](3) NOT NULL,
	[financial_year] [varchar](9) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_FinancialYear] PRIMARY KEY CLUSTERED 
(
	[Sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsPaper]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsPaper](
	[np_cd] [varchar](6) NOT NULL,
	[np_name] [nvarchar](200) NULL,
	[edition] [nvarchar](50) NULL,
	[type] [varchar](3) NULL,
	[language_id] [float] NULL,
	[language] [varchar](15) NULL,
	[status] [int] NULL,
	[rni_reg_no] [varchar](30) NULL,
	[bank_acount_no] [varchar](20) NULL,
	[bank_name] [nvarchar](100) NULL,
	[ifsc_code] [varchar](20) NULL,
	[display_order] [int] NULL,
	[who_created] [varchar](5) NULL,
	[is_eligible_for_gst] [varchar](1) NULL,
	[is_gst_verified_by_admin] [varchar](1) NULL,
	[CONTACT] [nvarchar](255) NULL,
	[DESN] [nvarchar](255) NULL,
	[NPADDR1] [nvarchar](255) NULL,
	[NPADDR2] [nvarchar](255) NULL,
	[NPADDR3] [nvarchar](255) NULL,
	[NPSTATE] [varchar](10) NULL,
	[NPSTATE_text] [nvarchar](100) NULL,
	[NPCITY] [nvarchar](255) NULL,
	[NPCITY_text] [nvarchar](100) NULL,
	[NPPOSTAL_cd] [varchar](6) NULL,
	[NPPHONE] [nvarchar](255) NULL,
	[YROPBAL] [float] NULL,
	[COMMPERC] [float] NULL,
	[NPNAME] [nvarchar](255) NULL,
	[GST_legalName] [nvarchar](100) NULL,
	[GST_number] [varchar](15) NULL,
	[GST_StateID] [varchar](10) NULL,
	[GST_StateText] [nvarchar](50) NULL,
	[GST_DateOfRegistration] [date] NULL,
	[GST_TaxpayerType] [nvarchar](20) NULL,
	[GST_Trade_Name] [nvarchar](100) NULL,
	[GST_DateOfIssue] [date] NULL,
	[State_Code] [varchar](50) NULL,
	[District_Code] [varchar](50) NULL,
	[State_Text] [varchar](50) NULL,
	[District_Text] [varchar](50) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[entry_by_user_id] [varchar](10) NULL,
	[entry_by_user_name] [nvarchar](100) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
	[modify_by_user_id] [varchar](10) NULL,
	[modify_by_user_name] [nvarchar](100) NULL,
	[np_info] [char](1) NULL,
 CONSTRAINT [PK_NewsPaper] PRIMARY KEY CLUSTERED 
(
	[np_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Office]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[OfficeName] [nvarchar](150) NULL,
	[OfficeName_E] [nvarchar](150) NULL,
	[client_code] [varchar](10) NULL,
	[BaseDeptCode] [varchar](50) NOT NULL,
	[OfficeLevel] [varchar](50) NULL,
	[NewOfficeCode] [varchar](50) NOT NULL,
	[DistrictCodeNew] [varchar](10) NOT NULL,
	[CountryCode] [nvarchar](2) NULL,
	[StateCode] [varchar](2) NULL,
	[OfficeAddress] [nvarchar](500) NULL,
	[OfficeArea] [nvarchar](50) NULL,
	[OfficePin] [nvarchar](7) NULL,
	[OfficeURL] [nvarchar](50) NULL,
	[landline_no] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[std_code] [nvarchar](10) NULL,
	[Mobile_no] [nvarchar](50) NULL,
	[GST_legalName] [nvarchar](100) NULL,
	[GST_number] [varchar](15) NULL,
	[GST_StateID] [varchar](10) NULL,
	[GST_StateText] [nvarchar](50) NULL,
	[GST_DateOfRegistration] [date] NULL,
	[GST_TaxpayerType] [nvarchar](20) NULL,
	[flag] [int] NULL,
	[DisplayOrder] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_Office] PRIMARY KEY CLUSTERED 
(
	[BaseDeptCode] ASC,
	[NewOfficeCode] ASC,
	[DistrictCodeNew] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[office_officer]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[office_officer](
	[CountryCode] [varchar](3) NOT NULL,
	[StateCode] [varchar](3) NOT NULL,
	[designation_sno] [nvarchar](2) NOT NULL,
	[section_code] [nvarchar](11) NOT NULL,
	[employee_code] [nvarchar](11) NOT NULL,
	[base_dept_code] [nvarchar](4) NOT NULL,
	[office_code] [nvarchar](10) NOT NULL,
	[district_code] [nvarchar](2) NOT NULL,
	[user_code] [nvarchar](11) NULL,
	[status] [nvarchar](1) NULL,
	[designation_id] [nvarchar](4) NOT NULL,
	[prarup_code] [nvarchar](7) NOT NULL,
	[sno] [bigint] NOT NULL,
	[head_code] [varchar](5) NULL,
	[Commision_Percentage] [float] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_office_officer] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC,
	[StateCode] ASC,
	[designation_sno] ASC,
	[section_code] ASC,
	[employee_code] ASC,
	[base_dept_code] ASC,
	[office_code] ASC,
	[district_code] ASC,
	[designation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficeLevel]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeLevel](
	[CountryCode] [nvarchar](3) NOT NULL,
	[StateCode] [nvarchar](3) NOT NULL,
	[BaseDeptCode] [nvarchar](4) NOT NULL,
	[OfficeLevelCode] [varchar](2) NOT NULL,
	[OfficeLevelName] [nvarchar](50) NULL,
	[DisplayOrder] [int] NULL,
	[flag] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_OfficeLevel] PRIMARY KEY CLUSTERED 
(
	[BaseDeptCode] ASC,
	[OfficeLevelCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Officer]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Officer](
	[DistrictCode] [nvarchar](2) NOT NULL,
	[CountryCode] [varchar](3) NOT NULL,
	[StateCode] [varchar](3) NULL,
	[employee_id] [nvarchar](15) NOT NULL,
	[employee_name] [nvarchar](75) NULL,
	[employee_name_E] [nvarchar](75) NULL,
	[employee_dob] [datetime] NULL,
	[employee_mob] [nvarchar](12) NULL,
	[employee_emailid] [nvarchar](50) NULL,
	[designation_id] [nvarchar](5) NULL,
	[user_code] [nvarchar](12) NULL,
	[emp_level] [nvarchar](2) NULL,
	[employee_alt_mobile] [nvarchar](12) NULL,
	[employe_alt_email] [nvarchar](30) NULL,
	[office_mobile_no] [nvarchar](15) NULL,
	[address] [nvarchar](100) NULL,
	[OfficeCode] [varchar](10) NULL,
	[OfficerCode] [varchar](10) NULL,
	[OldDistrictCode] [varchar](2) NULL,
	[BaseDepartCode] [varchar](4) NOT NULL,
	[entryyear] [varchar](4) NULL,
	[flag] [varchar](1) NULL,
	[DisplayOrder] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_Officer] PRIMARY KEY CLUSTERED 
(
	[DistrictCode] ASC,
	[employee_id] ASC,
	[BaseDepartCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[officer_level]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[officer_level](
	[level_id] [nvarchar](2) NOT NULL,
	[level_name] [nvarchar](50) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_officer_level] PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RateCategory]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateCategory](
	[rate_category_cd] [varchar](2) NOT NULL,
	[rate_category_name] [varchar](50) NULL,
	[alternate_name] [varchar](5) NULL,
	[extra_rate_percent] [float] NULL,
	[Rate_Multi_factor] [varchar](1) NULL,
	[is_for_entry] [varchar](1) NULL,
	[status] [int] NULL,
	[display_order] [int] NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_RateCategory] PRIMARY KEY CLUSTERED 
(
	[rate_category_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tax_Master]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tax_Master](
	[sno] [varchar](2) NOT NULL,
	[tax_type] [nvarchar](100) NULL,
	[tax_percentage] [float] NULL,
	[update_column_name] [varchar](50) NULL,
	[head_type] [nvarchar](20) NULL,
	[head_id] [varchar](20) NULL,
	[head_text] [nvarchar](20) NULL,
	[gst_state_id] [varchar](3) NULL,
	[from_date] [datetime] NULL,
	[to_date] [datetime] NULL,
	[display_status] [varchar](1) NULL,
	[status] [varchar](1) NULL,
	[display_order] [int] NULL,
	[tax_on_sno] [varchar](2) NULL,
	[IS_applicableFor] [varchar](100) NULL,
	[entry_date] [datetime] NULL,
	[ip_address] [varchar](20) NULL,
 CONSTRAINT [PK_Tax_Master] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitConvert]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitConvert](
	[from_unit_cd] [varchar](2) NULL,
	[to_unit_cd] [varchar](2) NULL,
	[operation] [varchar](1) NULL,
	[value] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitMaster]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitMaster](
	[unit_id] [varchar](2) NOT NULL,
	[unit] [varchar](3) NULL,
	[entry_date] [date] NULL,
	[entry_time] [varchar](14) NULL,
	[modify_date] [date] NULL,
	[modify_time] [varchar](14) NULL,
	[ip_address] [nvarchar](20) NULL,
	[modify_ip_address] [nvarchar](20) NULL,
 CONSTRAINT [PK_UnitMaster] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[upload_file_extension]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[upload_file_extension](
	[sno] [varchar](3) NOT NULL,
	[file_extension] [varchar](10) NULL,
	[status] [nvarchar](50) NULL,
	[Hoarding_upload_flag] [int] NULL,
	[tender_upload_flag] [int] NULL,
 CONSTRAINT [PK_upload_file_extension] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[upload_file_size]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[upload_file_size](
	[sno] [varchar](3) NOT NULL,
	[file_size_in_bytes] [numeric](18, 0) NULL,
 CONSTRAINT [PK_upload_file_size] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadCategory]    Script Date: 21-07-2025 14:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadCategory](
	[cat_cd] [varchar](2) NOT NULL,
	[cat_name] [nvarchar](50) NULL,
	[status] [varchar](1) NULL,
	[display_order] [int] NULL,
 CONSTRAINT [PK_UploadCategory] PRIMARY KEY CLUSTERED 
(
	[cat_cd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeptUser_Login] ADD  DEFAULT (getdate()) FOR [creation_date]
GO
ALTER TABLE [dbo].[EM_Master_Map_WorkType_MediaType] ADD  CONSTRAINT [DF_EM_Master_Map_WorkType_MediaType_calculate_commission]  DEFAULT ('Y') FOR [calculate_commission]
GO
ALTER TABLE [dbo].[EM_Master_Map_WorkType_MediaType] ADD  CONSTRAINT [DF_EM_Master_Map_WorkType_MediaType_commission_on_100_percent]  DEFAULT ('Y') FOR [ro_amt_convert_in_100_percent]
GO
ALTER TABLE [dbo].[EM_Master_Map_WorkType_MediaType] ADD  CONSTRAINT [DF_EM_Master_Map_WorkType_MediaType_discount_percent_on_wo_amt]  DEFAULT ((0)) FOR [discount_percent_on_wo_amt]
GO
ALTER TABLE [dbo].[EM_Master_Vendor] ADD  CONSTRAINT [DF_EM_Master_Vendor_is_eligible_for_gst]  DEFAULT ('Y') FOR [is_eligible_for_gst]
GO
ALTER TABLE [dbo].[EM_Master_Vendor] ADD  CONSTRAINT [DF_EM_Master_Vendor_is_gst_verified_by_admin]  DEFAULT ('N') FOR [is_gst_verified_by_admin]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_ForAttendence]  DEFAULT ((1)) FOR [ForAttendence]
GO
ALTER TABLE [dbo].[NewsPaper] ADD  CONSTRAINT [DF_NewsPaper_is_eligible_for_gst]  DEFAULT ('Y') FOR [is_eligible_for_gst]
GO
ALTER TABLE [dbo].[NewsPaper] ADD  CONSTRAINT [DF_NewsPaper_is_gst_verified_by_admin]  DEFAULT ('N') FOR [is_gst_verified_by_admin]
GO
ALTER TABLE [dbo].[NewsPaper] ADD  CONSTRAINT [DF_NewsPaper_np_info]  DEFAULT ('N') FOR [np_info]
GO
ALTER TABLE [dbo].[RateCategory] ADD  CONSTRAINT [DF_RateCategory_extra_rate_percent]  DEFAULT ((0)) FOR [extra_rate_percent]
GO
ALTER TABLE [dbo].[Tax_Master] ADD  CONSTRAINT [DF_Tax_Master_display_status]  DEFAULT ('Y') FOR [display_status]
GO
USE [master]
GO
